html, body, #app, #app>div, input {
	height: 100%;
	margin: 0;
	font-family: monospace
}



// .TabBar {
// 	border: orange 1px dashed;
// 	.Tab {
// 		border: blue 1px dashed;
// 	}
// }
// .Form {
// 	border: red 1px dashed;
// }