.Login {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.Modal {
		display: flex;
		flex-direction: column;
		// border: grey 1px solid;
		min-height: 250px;
		min-width: 200px;
	}
}